body, html {
  width: 100%;
  margin: 0 auto;
}

div {
  height: 200px;
  width: 100%;
}


.not-fixed {
  text-align: center;
  color: #ffffff;
  margin: 0;
}

h1 {
  margin: 0 10% 0 10%;
  padding-top: 145px;
}

.top {
  background-color: blue;
  height: 600px;
}

.bottom {
  background-color: red;
  height: 600px;
}

.follow-up {
  height: 200px;
  background-color: blue;
}

.not-fixed h1 {
  font-size: 50px;
  font-weight: 800;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.not-fixed h2 {
  font-size: 30px;
  margin-top: 0;
}

.place {
  text-transform: uppercase;
  padding-left: 50px;
  height: max-content;
}
.place:hover {
  color: ;
}

.date {
  padding-left: 15px;
}

.placeanddate {
  display: flex;
  padding: 50px 0 40 0;
  height: max-content;
}

.blogtext {
  padding: 0px 80px 0px 80px;
  font-size: 1em;
}
