img {
  max-width: 100%;
}

.fixed1 h4 {
  color: white;
}

.not-fixed {
  text-align: center;
  color: #ffffff;
  margin: 0;

}

h1 {
  margin: 0 10% 0 10%;
  padding-top: 145px;
}

.top {
  background-color: blue;
  height: 600px;
}

.bottom {
  background-color: red;
  height: 600px;
}

.follow-up {
  height: 200px;
  background-color: blue;
}

.not-fixed h1 {
  font-size: 2.5em;
  font-weight: 800;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.not-fixed h2 {
  font-size: 2em;
  margin-top: 0;
}

.place {
  text-transform: uppercase;
  padding-left: 50px;
  height: max-content;
}
.place:hover {
  color: ;
}

.date {
  padding-left: 15px;
}

.placeanddate {
  display: flex;
  padding: 50px 0 40 0;
  height: max-content;
}

.blogtext {
  padding: 3% 10% 0px 10%;
  font-size: 1em;
  text-align: justify;
}

.blogger-bio {
  text-align: justify;
  padding: 15px;
}

.bloggers {
  border-left: 2px solid grey;
}

.blogger-image {
  float:none;
}

.youtube-logo{
  max-width: 300px;
  margin: auto;
}


footer {
background-color: #292c2f;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
box-sizing: border-box;
width: 100%;
font: 16px helvetica;
color: white;
text-align: left;
padding: 50px 60px;
margin-top: 80px;
overflow: hidden;
}

footer .footer-icons {
  align: right;
}


footer ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
}
